ng-lottie {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  position: fixed;
  background: #fff;
  align-items: center;
  justify-content: center;
}

#container {
  margin: auto;
  min-height: 100%;
  max-width: 1200px;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0 0 10px #cccccc;

  #banner img {width: 100%;}

  mat-tab-group {
    .text {
      padding: 1rem 1.5rem;
    }
  }

  #expansions {
    mat-expansion-panel {
      border-radius: 0;

      mat-expansion-panel-header {
        height: auto;
        margin-top: 2px;
        padding: 1rem 1rem;
        background-color: rgba(0,0,0,.1);
      }

      mat-panel-title {
        margin-right: 0;
        color: #808080;
        line-height: 1.5;
        font-size: 1.2rem;
      }
      
      .text {padding: 1rem 1.5rem 0 1.5rem;}
      
      &#donation mat-expansion-panel-header {
        background-color: var(--success);
        
        mat-panel-title {color: var(--success-contrast);}
      }
    }
  }

  .share {
    padding: 1.5rem 1rem;

    &.share-bottom {
      color: white;
      background-color: #747474;

      form {
        button {
          border-color: rgba(255, 255, 255, 0.5);
        }
      }

      .copyright a {color: white !important;}
    }

    .title {
      font-size: 2rem;
      margin-bottom: 1.5rem;
    }

    .whatstapp mat-icon {font-size: 1.2rem;}

    label {text-align: left;}

    form {
      input {
        border-radius: 4px;
        padding: .6rem .5rem;
        box-sizing: border-box;
        border: 1px solid rgba(0, 0, 0, .12);
      }
    }

    .social {
      text-align: right;

      a {
        color: white;
        margin: 0 .2rem;

        &.facebook {background: #1877F2;}
        &.youtube {background: #FF0000;}
        &.instagram {background: #EF426F;}
        &.linkedin {background: #0072B1;}
      }
    }

    .copyright {
      margin-top: 2rem;
    }
  }
}

@media (max-width: 959px) {
  .share {
    form {margin: 1rem 0;}
  }
}