<ng-lottie *ngIf="loading" [options]="lottieOpts" width="150px" height="150px"></ng-lottie>

<main id="container" *ngIf="!loading">
  <div id="image" *ngIf="config.image">
    <img [src]="config.image" alt="">
  </div>
  
  <mat-tab-group mat-align-tabs="center">
    <mat-tab *ngFor="let tab of tabs" [label]="tab.name">
      <div class="text" [innerHtml]="tab.text"></div>
    </mat-tab>
  </mat-tab-group>

  <div id="expansions">
    <mat-expansion-panel class="mat-elevation-z0" *ngFor="let category of categories" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title fxLayoutAlign="center center">{{ category.name }}</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="text" [innerHtml]="category.text"></div>
    </mat-expansion-panel>
    <mat-expansion-panel id="donation" class="mat-elevation-z0" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title fxLayoutAlign="center center">Doação</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="text text-wrap" [innerHtml]="config.donation"></div>
    </mat-expansion-panel>
  </div>
  <div id="share">
    <div fxLayout="row" fxLayoutAlign="center center">
      <div fxFlex="50">
        <a mat-button (click)="shareWhatsapp()">Compartilhar</a>
        <form [formGroup]="form" (ngSubmit)="shareWhatsappPhone()">
          <div class="form-group">
            <input type="text" class="text-center" formControlName="phone" placeholder="(00) 00000-0000" mask="(00) 00000-0000">
          </div>
          <button mat-button type="submit" color="success" [disabled]="loading">
            <span *ngIf="!loading">Enviar Cartão</span>
            <span *ngIf="loading">Enviando...</span>
          </button>
        </form>
        <div class="social">
          <a mat-icon-button *ngFor="let social of socials" [href]="social.url" target="_blank">
            <mat-icon *ngIf="social.type == 'facebook'" fontSet="fab" fontIcon="fa-facebook-f"></mat-icon>
            <mat-icon *ngIf="social.type == 'youtube'" fontSet="fab" fontIcon="fa-youtube"></mat-icon>
            <mat-icon *ngIf="social.type == 'instagram'" fontSet="fab" fontIcon="fa-instagram"></mat-icon>
            <mat-icon *ngIf="social.type == 'linkedin'" fontSet="fab" fontIcon="fa-linkedin-in"></mat-icon>
          </a>
        </div>
      </div>
    </div>
  </div>
</main>