<main id="container">
  <div id="image">
    <img src="https://www.wisao.com.br/vereador/assets/img/bg-image.jpeg" alt="">
  </div>
  
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Sobre o Rubinho">
      <div class="text">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam doloremque ea fugit nostrum voluptatem sit cupiditate minima quis labore tempore eius impedit cum nisi quisquam perspiciatis quia reprehenderit, a vel.
      </div>
    </mat-tab>
    <mat-tab label="Nossas Propostas">
      <div class="text">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam doloremque ea fugit nostrum voluptatem sit cupiditate minima quis labore tempore eius impedit cum nisi quisquam perspiciatis quia reprehenderit, a vel.
      </div>
    </mat-tab>
    <mat-tab label="Sobre Jaqueline">
      <div class="text">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam doloremque ea fugit nostrum voluptatem sit cupiditate minima quis labore tempore eius impedit cum nisi quisquam perspiciatis quia reprehenderit, a vel.
      </div>
    </mat-tab>
  </mat-tab-group>

  <div id="expansions">
    <mat-expansion-panel class="mat-elevation-z0" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title fxLayoutAlign="center center">Saúde</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="text">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa assumenda rerum delectus exercitationem laudantium alias ad, molestiae ex dignissimos doloremque ea non autem dolorem sed sunt inventore, quibusdam eius! Totam?</p>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel class="mat-elevation-z0" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title fxLayoutAlign="center center">Educação</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="text">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa assumenda rerum delectus exercitationem laudantium alias ad, molestiae ex dignissimos doloremque ea non autem dolorem sed sunt inventore, quibusdam eius! Totam?</p>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel class="mat-elevation-z0" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title fxLayoutAlign="center center">Segurança</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="text">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa assumenda rerum delectus exercitationem laudantium alias ad, molestiae ex dignissimos doloremque ea non autem dolorem sed sunt inventore, quibusdam eius! Totam?</p>
      </div>
    </mat-expansion-panel>
  </div>
</main>