<ng-lottie *ngIf="loading" [options]="lottieOpts" width="150px" height="150px"></ng-lottie>

<main id="container" *ngIf="!loading">
  <div id="banner" *ngIf="config?.image?.mobile" fxHide.gt-md>
    <img [src]="config.image.mobile" alt="">
  </div>
  <div id="banner" *ngIf="config?.image?.desktop" fxHide.lt-md>
    <img [src]="config.image.desktop" alt="">
  </div>

  <div class="share share-top">
    <h2 class="title">{{ config?.titleFeatured }}</h2>

    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center center">
      <div fxFlex fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center center">
        <div fxFlex="38">
          <a class="whatstapp" mat-raised-button color="success" (click)="shareWhatsapp()">
            <mat-icon fontSet="fab" fontIcon="fa-whatsapp"></mat-icon>
            Compartilhar Agora!
          </a>
        </div>
        <form fxFlex fxLayout="row" fxLayoutAlign="center center" [formGroup]="form" (ngSubmit)="shareWhatsappPhone()">
          <div fxFlex class="label">
            <label for="phone">Ou digite o telefone:</label>
          </div>
          <div fxFlex fxLayout="row">
            <input type="text" id="phone" class="text-center" formControlName="phone" placeholder="(00) 00000-0000" mask="(00) 00000-0000">
            <button mat-stroked-button type="submit">Enviar!</button>
          </div>
        </form>
      </div>
      <div fxFlex class="social">
        <ng-container *ngFor="let social of socials">
          <a mat-icon-button [href]="social.url" target="_blank" class="facebook" *ngIf="social.type == 'facebook'">
            <mat-icon fontSet="fab" fontIcon="fa-facebook-f"></mat-icon>
          </a>
          <a mat-icon-button [href]="social.url" target="_blank" class="youtube" *ngIf="social.type == 'youtube'">
            <mat-icon fontSet="fab" fontIcon="fa-youtube"></mat-icon>
          </a>
          <a mat-icon-button [href]="social.url" target="_blank" class="instagram" *ngIf="social.type == 'instagram'">
            <mat-icon fontSet="fab" fontIcon="fa-instagram"></mat-icon>
          </a>
          <a mat-icon-button [href]="social.url" target="_blank" class="linkedin" *ngIf="social.type == 'linkedin'">
            <mat-icon fontSet="fab" fontIcon="fa-linkedin-in"></mat-icon>
          </a>
          <a mat-icon-button [href]="social.url" target="_blank" class="twitter" *ngIf="social.type == 'twitter'">
            <mat-icon fontSet="fab" fontIcon="fa-twitter"></mat-icon>
          </a>
          <a mat-icon-button [href]="social.url" target="_blank" class="tiktok" *ngIf="social.type == 'tiktok'">
            <mat-icon fontSet="fab" fontIcon="fa-tiktok"></mat-icon>
          </a>
        </ng-container>
      </div>
    </div>
  </div>

  <mat-tab-group mat-align-tabs="center">
    <mat-tab *ngFor="let tab of tabs" [label]="tab.name">
      <div class="text" [innerHtml]="tab.text | safeHtml"></div>
    </mat-tab>
  </mat-tab-group>

  <div id="expansions">
    <mat-expansion-panel class="mat-elevation-z0" *ngFor="let category of categories" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title fxLayoutAlign="center center">{{ category.name }}</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="text" [innerHtml]="category.text | safeHtml"></div>
    </mat-expansion-panel>
    <mat-expansion-panel id="donation" class="mat-elevation-z0" *ngIf="config.donation" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title fxLayoutAlign="center center">Doação</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="text text-wrap" [innerHtml]="config.donation | safeHtml"></div>
    </mat-expansion-panel>
  </div>

  <div class="share share-bottom">
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center center">
      <div fxFlex fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center center">
        <div fxFlex="38">
          <a class="whatstapp" mat-raised-button color="success" (click)="shareWhatsapp()">
            <mat-icon fontSet="fab" fontIcon="fa-whatsapp"></mat-icon>
            Compartilhar Agora!
          </a>
        </div>
        <form fxFlex fxLayout="row" fxLayoutAlign="center center" [formGroup]="form" (ngSubmit)="shareWhatsappPhone()">
          <div fxFlex class="label">
            <label for="phone">Ou digite o telefone:</label>
          </div>
          <div fxFlex fxLayout="row">
            <input type="text" id="phone" class="text-center" formControlName="phone" placeholder="(00) 00000-0000" mask="(00) 00000-0000">
            <button mat-stroked-button type="submit">Enviar!</button>
          </div>
        </form>
      </div>
      <div fxFlex class="social">
        <ng-container *ngFor="let social of socials">
          <a mat-icon-button [href]="social.url" target="_blank" class="facebook" *ngIf="social.type == 'facebook'">
            <mat-icon fontSet="fab" fontIcon="fa-facebook-f"></mat-icon>
          </a>
          <a mat-icon-button [href]="social.url" target="_blank" class="youtube" *ngIf="social.type == 'youtube'">
            <mat-icon fontSet="fab" fontIcon="fa-youtube"></mat-icon>
          </a>
          <a mat-icon-button [href]="social.url" target="_blank" class="instagram" *ngIf="social.type == 'instagram'">
            <mat-icon fontSet="fab" fontIcon="fa-instagram"></mat-icon>
          </a>
          <a mat-icon-button [href]="social.url" target="_blank" class="linkedin" *ngIf="social.type == 'linkedin'">
            <mat-icon fontSet="fab" fontIcon="fa-linkedin-in"></mat-icon>
          </a>
          <a mat-icon-button [href]="social.url" target="_blank" class="twitter" *ngIf="social.type == 'twitter'">
            <mat-icon fontSet="fab" fontIcon="fa-twitter"></mat-icon>
          </a>
          <a mat-icon-button [href]="social.url" target="_blank" class="tiktok" *ngIf="social.type == 'tiktok'">
            <mat-icon fontSet="fab" fontIcon="fa-tiktok"></mat-icon>
          </a>
        </ng-container>
      </div>
    </div>

    <p class="copyright">Desenvolvido por: <a href="https://www.wisao.com.br">www.wisao.com.br</a></p>
  </div>
</main>